body {
    background-color: gainsboro;
}

h1 {
    font-family: Roboto;
    font-size: 24px;
    font-weight: bold;
}

nav {
    background-color: cadetblue;

    .btn-success {
        background-color: darkcyan;
        border: none;
    }
}


